# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build directories
dist/
build/
out/
.next/


# IDE and Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Debug logs
debug.log

# Dependency directories
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# MacOS
.DS_Store

# Testing
coverage/
.nyc_output/

# Production
.cache/

# Serverless directories
.serverless/

# Vite cache
.temp/
.cache/

# Docker
docker-compose.override.yml

# Local development files
*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
